{{>adminNavbar}}

<main class="form-signin w-100 m-auto text-center">
  <form method="post">
    <h1 class="h3 mb-3 fw-normal">Add Pickup points</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Source" name="source">
      <label for="floatingInput">Source</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Destination" name="destination">
      <label for="floatingPassword">Destination</label>
    </div>
     <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Amount" name="amount">
      <label for="floatingPassword">Amount</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
  </form>
</main>