{{>navbar}}
<main class="form-signin w-100 m-auto text-center">
  <form method="post">
    <h1 class="h3 mb-3 fw-normal">Create Your Profile</h1>

    <div class="form-floating">
      <textarea class="form-control" name="address"></textarea>
      <label for="floatingInput">Address</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" placeholder="City" name="city">
      <label for="floatingPassword">City</label>
    </div>
     <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" placeholder="State" name="state">
      <label for="floatingPassword">State</label>
    </div>
     <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Zip Code" name="zipcode">
      <label for="floatingPassword">Zip Code</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
  </form>
</main>