<link rel="stylesheet" href="/static/css/login.css" />
<main class="form-signin w-100 m-auto text-center">
  <form id="login" name="signInForm" method="post">
    <img class="mb-4" src="/static/images/lwakxzzc-removebg-preview.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required=""
        autocomplete="off" name="loginemail">
      <label for="floatingInput">Email address</label>
    </div>
    <label class="form-label" id="login_mssge"></label>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required=""
        autocomplete="off" name="loginpassword">
      <label for="floatingPassword">Password</label>
    </div>
     <input type="hidden" name="type" value="signin">
    <div class="checkbox mb-3">
              <div id="captchaBackground">
            <canvas id="captcha">captcha text</canvas>
            <input id="textBox" class="form-control" type="text" name="text" onchange="myFunction()">
            <span id="output"></span>
        </div>
      <label>
        <input type="checkbox" value="remember-me"> Remember me
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="register-link" href="register.html" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="submitButton" disabled>Sign in</button>

  </form>
</main>
<!--Model-->
<!-- Button trigger modal -->


<!-- Modal -->
<div id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
{{#if regError}}
style="display: block;"
class="modal fade show"
{{else}}
class="modal fade"
{{/if}}
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Register Your Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" name="signupForm">
          <div class="row">
            <div class="col-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="reg-firstName" placeholder="name@example.com"
                  name="firstName">
                <label for="floatingInput">First Name</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="reg-lastName" placeholder="name@example.com"
                  name="lastName">
                <label for="floatingInput">Last Name</label>
              </div>
            </div>
          </div>
          <br/>
          <div class="form-floating">
            <input type="text" class="form-control" id="reg-email" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
          </div>
          <label class="form-label" id="error_mssge"></label>
          <br />
          <div class="form-floating">
            <input type="text" class="form-control" id="reg-mobile" placeholder="name@example.com" name="mobile">
            <label for="floatingInput">Mobile Number</label>
          </div>
          <br />
          <div class="form-floating">
            <select class="form-control" name="chooseRole">
              <option value="">Choose...</option>
              <option value="passenger">Passenger</option>
              <option value="driver">Driver</option>
            </select>
            <label for="floatingInput">Choose Role</label>
          </div>
          <label class="form-label" id="error_mssge1"></label>
          <br />
          <div class="form-floating">
            <input type="password" class="form-control" id="reg-password" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <label class="form-label" id="error_mssge2"></label>
          <br />
          <div class="form-floating">
            <input type="password" class="form-control" id="reg-cpassword" placeholder="Password" name="cpassword">
            <label for="floatingPassword">Confirm Password</label>
          </div>
          <input type="hidden" name="type" value="signup">
          <label class="form-label" id="error_mssge3"></label>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn" id="savebtn">Register</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>




  <script>
        // document.querySelector() is used to select an element from the document using its ID
let captchaText = document.querySelector('#captcha');
var ctx = captchaText.getContext("2d");
ctx.font = "30px Roboto";
ctx.fillStyle = "#000000";

let userText = document.querySelector('#textBox');
let submitButton = document.querySelector('#submitButton');
let output = document.querySelector('#output');
let refreshButton = document.querySelector('#refreshButton');

// alphaNums contains the characters with which you want to create the CAPTCHA
let alphaNums = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
let emptyArr = [];
// This loop generates a random string of 7 characters using alphaNums
// Further this string is displayed as a CAPTCHA
for (let i = 1; i <= 7; i++) {
    emptyArr.push(alphaNums[Math.floor(Math.random() * alphaNums.length)]);
}
var c = emptyArr.join('');
ctx.fillText(emptyArr.join(''),captchaText.width/4, captchaText.height/2);

// This event listener is stimulated whenever the user press the "Enter" button
// "Correct!" or "Incorrect, please try again" message is
// displayed after validating the input text with CAPTCHA
userText.addEventListener('keyup', function(e) {
    // Key Code Value of "Enter" Button is 13
    if (e.keyCode === 13) {
        if (userText.value === c) {
            output.classList.add("correctCaptcha");
            output.innerHTML = "Correct!";
        } else {
            output.classList.add("incorrectCaptcha");
            output.innerHTML = "Incorrect, please try again";
        }
    }
});
// This event listener is stimulated whenever the user clicks the "Submit" button
// "Correct!" or "Incorrect, please try again" message is
// displayed after validating the input text with CAPTCHA
submitButton.addEventListener('click', function() {
    if (userText.value === c) {

        output.classList.add("correctCaptcha");
        output.innerHTML = "Correct!";
    } else {
        output.classList.add("incorrectCaptcha");
        output.innerHTML = "Incorrect, please try again";
    }
});
function myFunction(){
   if (userText.value === c) {

        output.classList.add("correctCaptcha");
        output.innerHTML = "Correct!";
        document.getElementById('submitButton').disabled=false;
    } else {
        output.classList.add("incorrectCaptcha");
        output.innerHTML = "Incorrect, please try again";
    }
}

    </script>